@charset "UTF-8";

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #225c82;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: normal;
}
h1 {
  margin-top: 0;
}
h2 {
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

a {
  color: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


@mixin transition($value) {
  -webkit-transition: #{$value}; /* Saf3.2+, Chrome */
     -moz-transition: #{$value}; /* FF4+ */
       -o-transition: #{$value}; /* Opera 10.5+ */
          transition: #{$value};
}

@import 'core/__core';
@import 'components/__components';

@include button('.button', true);
@include breadcrumbs('.breadcrumbs', true);


$aside-width: 260px;
$aside-toggle-size: 30px;

@import "asides";

.site-nav__toggle {
  right: 0;
}
.site-nav__item {
  cursor: pointer;
  display: block;
  padding: 7px 7px;
  font-weight: bold;
  border-radius: 2px;
  .fa {
    margin-right: 7px;
  }
}
.site-nav__item--active {
  background-color: #fff;
}
.site-content {
  position: fixed;
  top: 0;
  right: $aside-width;
  bottom: 0;
  left: $aside-width;
  height: 100%;
  overflow-y: auto;
  @include transition(all cubic-bezier(.16,.75,.41,.88) 300ms);
}
.site-content--left-closed {
  left: $aside-toggle-size;
}
.site-content--right-closed {
  right: $aside-toggle-size;
}


.content-struct {
  display: none;
  padding: 50px 15px 10px 15px;
  height: 100%;
  .node-view--struct & {
    display: block;
  }
}
.content-preview {
  display: none;
  padding: 50px 15px 10px 15px;
  .node-view--preview & {
    display: block;
  }
}
.content-raw {
  display: none;
  background-color: #1a2845;
  color: #eee;
  margin: 0;
  padding: 10px 15px;
  font-family: consolas, menlo, monaco, monospace;
  font-size: 12px;
  min-height: 100%;
  .node-view--raw & {
    display: block;
  }
}



.switch-view {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(34, 92, 130, 0.75);
  color: #ddd;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  > span {
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px 7px 7px;
    border-left: 1px solid #225c82;
    margin-left: -4px;
    &:hover {
      background-color: #225c82;
      color: #fff;
    }
  }
  > span:first-child {
    border-radius: 2px 0 0 2px;
    border-left: none;
    margin-left: 0;
  }
  > span:last-child {
    border-radius: 0 2px 2px 0;
  }
  .fa {
    margin-right: 5px;
    color: #ffb695;
  }
}

.node {
  display: block;
  position: relative;
  border: 1px solid #ddd;
  padding: 7px 12px;
  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #eee;
  &--edit {
    display: none;
  }
}
.node--editing {
  background-color: #fff;
  .node--edit {
    display: block;
  }
  .node__controls {
    .fa-pencil {
      display: none;
    }
    .fa-eye {
      display: inline-block;
    }
  }
}
.node__title {
  font-family: 'Montserrat', sans-serif;
  color: #225c82;
  margin-bottom: 7px;
  display: block;
}
.node__meta {
  font-size: 12px;
  list-style: none;
  padding: 0;
  color: #999;
  li {
    display: inline-block;
  }
  strong {
    color: #225c82;
  }
}
.node__controls {
  position: absolute;
  top:   5px;
  right: 5px;
  .fa-eye {
    display: none;
  }
}
.node--container {
  display: block;
  min-height: 60px;

}
.node--container.over {
  background-color: #eee;
  border-color: #aaa;
}

.node--chart {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form-control,
textarea,
input[type="text"],
input[type="url"] {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px 7px;
  background-color: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
  &:focus {
    border-color: #bbb;
    background-color: #fff;
    outline: none;
  }
}
.form-control--full {
  width: 100%;
}



.menu {
  background-color: #225c82;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 0 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.menu__item {
  a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 12px;
    &:hover {
      background-color: #2e7daf;
    }
  }
}

.component {
  display: block;
  padding: 5px 9px;
  cursor: pointer;
  border-radius: 2px;
  &:hover {
    background-color: #fff;
  }
}

/* Contain floats: h5bp.com/q */
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

.grid__row {
  margin-bottom: 15px;
  margin-left: -15px;
  @extend %clearfix;
}
.grid__cell {
  padding-left: 15px;
  float: left;
}

.node-menu__item {
  cursor: pointer;
  display: block;
  padding: 5px 9px;
  border-radius: 2px;
  &:hover {
    background-color: #fff;
  }
  &._is_active {
    background-color: #eeee99;
  }
}


.grid__cell--1 {
  width: 8.33%;
}
.grid__cell--2 {
  width: 16.66%;
}
.grid__cell--3 {
  width: 25%;
}
.grid__cell--4 {
  width: 33.33%;
}
.grid__cell--5 {
  width: 41.66%;
}
.grid__cell--6 {
  width: 50%;
}