<div class="node">
    <div ng-include="'views/node/_commands.html'" class="node__controls"></div>
    <div ng-if="!node.edit" class="node--preview">
        {{ node.settings.content || 'no content' }}
    </div>
    <div ng-if="node.edit" class="node--edit">
        <form ng-submit="saveNode(node)">
            <input ng-model="node.name" type="text">
            <div ng-include="'views/node/_meta.html'"></div>
            <textarea ng-model="node.settings.content"></textarea>
        </form>
    </div>
</div>