<div class="node node--row" plouc-droppable drop="createNode" node="node"
     ng-class="{ 'node--editing': node.edit }">
    <div ng-include="'views/node/struct/_commands.html'" class="node__controls"></div>
    <div ng-if="!node.edit" class="node--preview">
        <span class="node__title">{{ node.name }}</span>
    </div>
    <div ng-if="node.edit" class="node--edit">
        <form ng-submit="saveNode(node)">
            <p>
                <input ng-model="node.name" type="text">
            </p>
            <div ng-include="'views/node/struct/_meta.html'"></div>
            <p>
                <label>columns</label>
                <input type="text" ng-model="node.settings.columns">
            </p>
            <p>
                <button class="button" type="submit">save</button>
                <span class="button" ng-click="node.edit = false">cancel</span>
            </p>
        </form>
    </div>
    <div class="node--edit">
        <div ng-repeat="node in node.nodes" ng-if="node" ng-include="'views/node/struct/' + nodeTemplate(node) + '.html'"></div>
    </div>
</div>