@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #225c82; }

h1, h2 {
  text-transform: uppercase;
  font-weight: normal; }

h1 {
  margin-top: 0; }

h2 {
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }

a {
  color: inherit; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*———————————————————————————————————————————————\

  BUTTON COMPONENT

\———————————————————————————————————————————————*/
/* _____ SYSTEM TOOLS _____ */
/*———————————————————————————————————————————————\
  BUTTON STRUCTURE
\———————————————————————————————————————————————*/
.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  padding: 7px 9px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  line-height: 1em; }

.button--full {
  width: 100%; }

.button--s {
  font-size: 11px;
  padding: 4px 7px; }

/*———————————————————————————————————————————————\
  BUTTON SKINNING
\———————————————————————————————————————————————*/
.button {
  background-color: #253d66;
  color: #eee; }

.button:hover {
  background-color: #35678c;
  color: #fff; }

.button--danger {
  background-color: #ff6352;
  color: #fff; }

.button--danger:hover {
  background-color: #ff6352;
  color: #fff; }

.button--warning {
  background-color: #ff8551;
  color: #fff; }

.button--warning:hover {
  background-color: #ff8551;
  color: #fff; }

.aside {
  width: 260px;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
  -webkit-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* Saf3.2+, Chrome */
  -moz-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* FF4+ */
  -o-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* Opera 10.5+ */
  transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms; }

.aside--left {
  left: 0;
  padding: 0 40px 0 10px;
  border-right: 1px solid #ddd; }
  .aside--left .fa-angle-left {
    display: inline-block; }
  .aside--left .fa-angle-right {
    display: none; }

.aside--left[data-state=closed] {
  left: -230px; }
  .aside--left[data-state=closed] .fa-angle-left {
    display: none; }
  .aside--left[data-state=closed] .fa-angle-right {
    display: inline-block; }

.aside--right {
  right: 0;
  padding: 0 10px 0 40px;
  border-left: 1px solid #ddd; }
  .aside--right .fa-angle-left {
    display: none; }
  .aside--right .fa-angle-right {
    display: inline-block; }

.aside--right[data-state=closed] {
  right: -230px; }
  .aside--right[data-state=closed] .fa-angle-left {
    display: inline-block; }
  .aside--right[data-state=closed] .fa-angle-right {
    display: none; }

.aside__toggle {
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 20px;
  padding-top: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  height: 100%; }
  .aside__toggle:hover {
    background-color: #fff; }

.aside__toggle--left {
  right: 0; }

.aside__toggle--right {
  left: 0; }

.site-nav__toggle {
  right: 0; }

.site-nav__item {
  cursor: pointer;
  display: block;
  padding: 7px 7px;
  font-weight: bold;
  border-radius: 2px; }
  .site-nav__item .fa {
    margin-right: 7px; }

.site-nav__item--active {
  background-color: #fff; }

.site-content {
  position: fixed;
  top: 0;
  right: 260px;
  bottom: 0;
  left: 260px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* Saf3.2+, Chrome */
  -moz-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* FF4+ */
  -o-transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms;
  /* Opera 10.5+ */
  transition: all cubic-bezier(0.16, 0.75, 0.41, 0.88) 300ms; }

.site-content--left-closed {
  left: 30px; }

.site-content--right-closed {
  right: 30px; }

.content-struct {
  display: none;
  padding: 50px 15px 10px 15px;
  height: 100%; }
  .node-view--struct .content-struct {
    display: block; }

.content-preview {
  display: none;
  padding: 50px 15px 10px 15px; }
  .node-view--preview .content-preview {
    display: block; }

.content-raw {
  display: none;
  background-color: #1a2845;
  color: #eee;
  margin: 0;
  padding: 10px 15px;
  font-family: consolas, menlo, monaco, monospace;
  font-size: 12px;
  min-height: 100%; }
  .node-view--raw .content-raw {
    display: block; }

.switch-view {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(34, 92, 130, 0.75);
  color: #ddd;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); }
  .switch-view > span {
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px 7px 7px;
    border-left: 1px solid #225c82;
    margin-left: -4px; }
    .switch-view > span:hover {
      background-color: #225c82;
      color: #fff; }
  .switch-view > span:first-child {
    border-radius: 2px 0 0 2px;
    border-left: none;
    margin-left: 0; }
  .switch-view > span:last-child {
    border-radius: 0 2px 2px 0; }
  .switch-view .fa {
    margin-right: 5px;
    color: #ffb695; }

.node {
  display: block;
  position: relative;
  border: 1px dotted #ccc;
  padding: 7px 5px;
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: #fff; }
  .node--edit {
    display: none; }
  .node:last-child {
    margin-bottom: 0; }

.node--editing {
  background-color: #fff;
  border-style: solid;
  border-color: #78a3ba; }
  .node--editing > .node--edit {
    display: block; }
  .node--editing > .node__controls .fa-pencil {
    display: none; }
  .node--editing > .node__controls .fa-eye {
    display: inline-block; }

.node__children {
  display: none; }

.node__toggle-children .fa-chevron-down {
  display: inline-block; }
.node__toggle-children .fa-chevron-up {
  display: none; }

.node--children-on .node__toggle-children .fa-chevron-down {
  display: none; }
.node--children-on .node__toggle-children .fa-chevron-up {
  display: inline-block; }

.node--children-on > .node__children {
  display: block; }

.node__title {
  font-family: 'Montserrat', sans-serif;
  color: #225c82;
  display: block;
  padding: 0 7px;
  margin-bottom: 5px; }

.node__meta {
  font-size: 12px;
  list-style: none;
  color: #999;
  background: #eee;
  margin: 0 -5px;
  padding: 4px 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .node__meta li {
    display: inline-block;
    margin-left: 7px; }
    .node__meta li:first-child {
      margin-left: 0; }
  .node__meta strong {
    color: #225c82; }

.node__controls {
  position: absolute;
  top: 5px;
  right: 5px; }
  .node__controls .fa-eye {
    display: none; }
  .node__controls > * {
    display: block;
    float: right;
    margin-left: 2px; }
    .node__controls > *:last-child {
      margin-left: 0; }

.node--container {
  display: block;
  min-height: 60px; }

.node--container.over {
  background-color: #eee;
  border-color: #aaa; }

.node--chart {
  border: 1px solid #ccc;
  border-radius: 2px; }

.form-control,
textarea,
input[type="text"],
input[type="url"] {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px 7px;
  background-color: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset; }
  .form-control:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="url"]:focus {
    border-color: #bbb;
    background-color: #fff;
    outline: none; }

.form-control--full {
  width: 100%; }

.component {
  display: block;
  padding: 5px 9px;
  cursor: pointer;
  border-radius: 2px; }
  .component:hover {
    background-color: #fff; }

/* Contain floats: h5bp.com/q */
.grid__row {
  *zoom: 1; }
  .grid__row:before, .grid__row:after {
    content: " ";
    display: table; }
  .grid__row:after {
    clear: both; }

.grid__row {
  margin-bottom: 15px;
  margin-left: -15px; }

.grid__cell {
  padding-left: 15px;
  float: left; }

.node-menu__item {
  cursor: pointer;
  display: block;
  padding: 5px 9px;
  border-radius: 2px; }
  .node-menu__item:hover {
    background-color: #fff; }
  .node-menu__item._is_active {
    background-color: #eeee99; }

.node-type-selector > .button {
  display: block; }
.node-type-selector__list {
  z-index: 1000;
  font-size: 12px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #ddd; }
  .node-type-selector__list__item {
    display: block;
    white-space: pre;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 2px; }
    .node-type-selector__list__item:hover {
      background-color: #c8e8e8; }
.node-type-selector--opened .node-type-selector__list {
  display: block; }

.json-api-call__raw-response {
  background-color: #1a2845;
  color: #eee;
  margin: 0;
  padding: 0 10px;
  font-family: consolas, menlo, monaco, monospace;
  font-size: 12px;
  overflow: auto;
  max-height: 200px;
  border-radius: 2px; }

.node-search {
  position: relative; }
  .node-search__results {
    z-index: 1000;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 7px;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd; }
    .node-search__results__item {
      display: block;
      padding: 3px 7px; }

.grid__cell--1 {
  width: 8.33%; }

.grid__cell--2 {
  width: 16.66%; }

.grid__cell--3 {
  width: 25%; }

.grid__cell--4 {
  width: 33.33%; }

.grid__cell--5 {
  width: 41.66%; }

.grid__cell--6 {
  width: 50%; }

.grid__cell--8 {
  width: 66.66%; }

.grid__cell--12 {
  width: 100%; }

/*———————————————————————————————————————————————\

  BREADCRUMBS COMPONENT

\———————————————————————————————————————————————*/
/* _____ SYSTEM TOOLS _____ */
/*———————————————————————————————————————————————\
  BREADCRUMBS STRUCTURE
\———————————————————————————————————————————————*/
.breadcrumbs {
  margin: 10px 0;
  list-style: none;
  border-radius: 2px;
  padding: 5px 12px; }

.breadcrumbs__item {
  display: inline-block; }

.breadcrumbs__item:before {
  margin: 0 5px;
  display: inline-block; }

.breadcrumbs__item:first-child:before {
  display: none; }

/*———————————————————————————————————————————————\
  BREADCRUMBS SKINNING
\———————————————————————————————————————————————*/
.breadcrumbs {
  color: #777;
  background-color: #eee; }

.breadcrumbs__item:before {
  content: "/";
  color: #225c82; }

.breadcrumbs__item._is-active {
  font-weight: bold;
  color: #333; }
  .breadcrumbs__item._is-active:before {
    font-weight: normal; }

/*———————————————————————————————————————————————\

  MENU COMPONENT

\———————————————————————————————————————————————*/
/* _____ SYSTEM TOOLS _____ */
/*———————————————————————————————————————————————\
  MENU STRUCTURE
\———————————————————————————————————————————————*/
/*———————————————————————————————————————————————\
  MENU SKINNING
\———————————————————————————————————————————————*/
.menu {
  background-color: #225c82;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 0 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

.menu__item a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 12px; }
  .menu__item a:hover {
    background-color: #2e7daf; }
