<div class="node" ng-class="{ 'node--editing': node.edit }">
    <div ng-include="'views/node/struct/_commands.html'" class="node__controls"></div>
    <div ng-if="!node.edit" class="node--preview">
        {{ node.settings.content || 'no content' }}
    </div>
    <div ng-if="node.edit" class="node--edit">
        <form ng-submit="saveNode(node)">
            <p>
                <input ng-model="node.name" type="text">
            </p>
            <div ng-include="'views/node/struct/_meta.html'"></div>
            <p>
                <input ng-model="node.settings.lang" type="text">
            </p>
            <p>
                <textarea ng-model="node.settings.content"></textarea>
            </p>
            <p>
                <button class="button" type="submit">save</button>
                <span class="button" ng-click="node.edit = false">cancel</span>
            </p>
        </form>
    </div>
</div>