html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #225c82; }

h1, h2 {
  text-transform: uppercase;
  font-weight: normal; }

h1 {
  margin-top: 0; }

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.breadcrumbs {
  margin: 10px 0;
  list-style: none;
  color: #777;
  background-color: #eee;
  border-radius: 2px;
  padding: 5px 12px; }

.breadcrumb {
  display: inline-block; }
  .breadcrumb:before {
    display: inline-block;
    margin: 0 5px;
    content: ":";
    color: #225c82; }
  .breadcrumb:first-child:before {
    display: none; }

.breadcrumb--current {
  font-weight: bold;
  color: #333; }

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #eee;
  padding: 0 15px; }

.site-nav__item {
  cursor: pointer;
  display: block;
  padding: 7px 7px;
  font-weight: bold;
  border-radius: 2px; }
  .site-nav__item .fa {
    margin-right: 7px; }

.site-nav__item--active {
  background-color: #fff; }

.components {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background-color: #eee;
  padding: 10px 15px; }

.site-content {
  position: fixed;
  top: 0;
  right: 260px;
  bottom: 0;
  left: 260px;
  height: 100%; }

.content-struct {
  padding: 50px 15px 10px 15px;
  height: 100%;
  overflow-y: auto; }

.content-preview {
  padding: 50px 15px 10px 15px; }

.switch-view {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(34, 92, 130, 0.75);
  color: #ddd;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); }
  .switch-view span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 5px 7px;
    border-left: 1px solid #225c82;
    margin-left: -4px; }
    .switch-view span:hover {
      background-color: #225c82;
      color: #fff; }
  .switch-view span:first-child {
    border-radius: 2px 0 0 2px;
    border-left: none;
    margin-left: 0; }
  .switch-view span:last-child {
    border-radius: 0 2px 2px 0; }
  .switch-view .fa {
    margin-right: 5px;
    color: #ffb695; }

.raw-node-struct {
  background-color: #1a2845;
  color: #eee;
  height: 100%;
  margin: 0;
  padding: 10px 15px;
  font-family: consolas, menlo, monaco, monospace;
  font-size: 12px;
  overflow-y: auto; }

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px 9px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border: none;
  background-color: #253d66;
  color: #eee; }
  .button:hover {
    background-color: #35678c;
    color: #fff; }

.button--danger {
  background-color: #ff8551;
  color: #fff; }
  .button--danger:hover {
    background-color: #ff9974;
    color: #fff; }

.button--s {
  font-size: 11px;
  padding: 3px 6px; }

.button--full {
  width: 100%; }

.node {
  display: block;
  position: relative;
  border: 1px solid #ddd;
  padding: 7px 12px;
  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #eee; }

.node--editing {
  background-color: #fff; }

.node__title {
  font-family: 'Montserrat', sans-serif;
  color: #225c82;
  margin-bottom: 7px;
  display: block; }

.node__meta {
  font-size: 12px;
  list-style: none;
  padding: 0;
  color: #999; }
  .node__meta li {
    display: inline-block; }
  .node__meta strong {
    color: #225c82; }

.node__controls {
  position: absolute;
  top: 5px;
  right: 5px; }

.node--container {
  display: block;
  min-height: 60px; }

.node--container.over {
  background-color: #eee;
  border-color: #aaa; }

textarea,
input[type="text"],
input[type="url"] {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 3px 7px;
  background-color: #eee; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="url"]:focus {
    border-color: #ccc;
    background-color: #fff;
    outline: none; }
